@import url("reset.css");
@import url("navbar.css");
@import url("footer.css");
@import url("hero.css");

/* import fonts */
@import url('https://fonts.googleapis.com/css?family=Roboto'); 
:root{
 --main-bg-color:#2D2E40;
 --secondary-bg-color:#8180A6;
 --text-color:#F2F1F0;
 --text-color-acent:#B1B0D9;
}


body{
  font-family: Roboto;
  background-color: var(--main-bg-color);
  color: var(--text-color);
}